<html>
<head>
	<title>dropdown menu</title>
	<meta charset="utf-8" />
</head>

<div id = "menu">
	<ul id = "nav">
		<li class = "current">
			<a href = "http://www.google.com"> Overview </a>
			<ul>
				<li>
					<a href = "http://www.google.com"> Scope </a>
				</li>
				<li>
					<a href = "http://www.google.com"> Audience </a>
				</li>
				<li>
					<a href = "http://www.google.com"> Sponsors </a>
				</li>
			</ul>
		</li>
		<li class = "current">
			<a href = "http://www.google.com"> Biographies </a>
			<ul>
				<li>
					<a href = "http://www.google.com"> person 1 </a>
				</li>
				<li>
					<a href = "http://www.google.com"> person 2 </a>
				</li>
				<li>
					<a href = "http://www.google.com"> person 3 </a>
				</li>
			</ul>
		</li>
		<li class = "current">
			<a href = "http://www.google.com"> News </a>	
		</li>
		<li class = "current">
			<a href = "http://www.google.com"> Project Team </a>
			<ul>
				<li>
					<a href = "http://www.google.com"> member 1 </a>
				</li>
				<li>
					<a href = "http://www.google.com"> member 2 </a>
				</li>
				<li>
					<a href = "http://www.google.com"> member 3 </a>
				</li>
				<li>
					<a href = "http://www.google.com"> member 4 </a>
				</li>
				<li>
					<a href = "http://www.google.com"> member 5 </a>
				</li>
			</ul>
		</li>
		<li class = "current">
			<a href = "http://www.google.com"> Contact </a>
		</li>
	</ul>
</div>

<div id="container">
<div id="header">
	<p> this is the header</p>
</div>
<div id="body">
	<p>this is the body</p>
</div>
<div id="footer">
<p> designed by 67</p>
</div>
</div>
</html>